.scroll-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%;
    background: var(--white);
    padding: 10px;
    margin: 0 auto;
}

.scroll-content {
    display: flex;
    gap: 20px;
    padding-left: 27px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    height: 30px;
}

.scroll-content::-webkit-scrollbar {
    display: none;
}

.scroll-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ccc;
    padding: 5px;
    transition: all 0.3s;
}

.scroll-btn:hover {
    color: black;
}

.tagLink {
    color: var(--secondary-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.tagLink:hover {
    color: black;
}

.tagActive {
    color: black;
}

.right {
    box-shadow: -20px 0px 20px 4px var(--white);
    z-index: 1;
}

.left {
    box-shadow: 20px 0px 20px 4px var(--white);
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .scroll-container {
        width: 100%;
    }
}