.containerNewBlog {
    width: 65vw;
    margin: 60px auto;
}

.contentNewBlog {
    background-color: var(--white);
    border-radius: 30px;
    box-shadow: 0px 0px 20px 50px var(--white);
    padding: 50px;
}

.formNewBlog {
    display: flex;
    flex-direction: column;
}

.title2NewBlog {
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 2rem;
    line-height: 2.5rem;
}

.inputNewBlog {
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem;
    border-left: 3px solid var(--secondary-color);
    font-family: var(--text-font);
    margin: 1rem auto;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

textarea {
    border: none;
}

.titleNewBlog {
    height: 55px;
    font-size: 38px;
    padding: 15px;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 2.5rem;
}

.resumeNewBlog {
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.box {
    min-height: 200px;
    margin: 20px auto; 
    padding: 10px;
    border-radius: 10px;
    border-left: 3px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.box:hover {
    cursor: text;
}