nav {
    width: 100%;
    background: transparent;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

header {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
    display: flex;
    gap: 10px;
}

.results {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 80px;
    padding: 30px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s;
    width: 500px;
    background: rgba(245, 245, 245, 0.74);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
}

.results h3 {
    font-weight: 500;
    display: block;
    margin: 0 auto;
}

.postResult {
    padding: 5px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.postResult:hover {
    transform: scale(1.02);
}

.postResult img {
    height: 70px;
    border-radius: 5px;
}

.shrinkSearch {
    top: 60px;
}

.tools {
    display: flex;
    align-items: center;
    gap: 40px;
}

.tools .searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tools .searchBar button {
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.tools .searchBar button:hover {
    background-color: transparent;
}

.tools .searchBar button svg {
    height: 20px;
    width: 20px;
    color: var(--title-nav-color);
}

.menu__bar .navigation li button svg {
    height: 30px;
    width: 30px;
    color: var(--title-nav-color);
}

.menu__bar {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}

.navigation>li {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    height: 42px;
}

.navigation>li>button>svg {
    stroke: var(--white);
    fill: var(--white);
    color: var(--white);
    margin-top: -2px;
    transition: all 0.2s ease-in-out;
}

.navigation>li>a {
    color: var(--white);
    font-size: 14px;
    text-decoration: none;
}

.navigation>li>button {
    color: var(--white);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    gap: 4px;
    opacity: 1;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    background: none;
    display: flex;
    padding: 3px 0;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 30px;
}

.navigation>li>button:hover,
.navigation>li>a:hover {
    opacity: 0.75;
}

.navigation>li>button:hover>svg {
    opacity: 0.75;
    margin-top: 0;
}

.dropdown {
    position: absolute;
    top: 42px;
    min-width: 154.1px;
    border-radius: 10px;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    padding: 5px 16px;
    box-shadow: 0 5px 30px rgba(27, 31, 35, 0.1),
        0 0 1px rgba(27, 31, 35, 0.4),
        0 1px 2px rgba(27, 31, 35, 0.15);
    z-index: 2;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.99) translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.dropdown h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.list-menu-items>li>a {
    display: flex;
    gap: 16px;
    font-size: 14px;
    width: 100%;
    color: var(--gray);
    text-decoration: none;
}

.list-menu-items>li>a:hover {
    color: var(--primary);
}

.list-items-with-description {
    list-style-type: none;
}

.list-items-with-description li {
    display: flex;
    padding: 4px;
    gap: 16px;
    width: 100%;
}

.list-items-with-description li svg {
    margin-top: 4px;
    width: 16px;
    height: 16px;
}

.list-items-with-description li:hover svg {
    stroke: var(--primary);
}

.item-title a {
    color: var(--secondary-color);
    transition: all 0.2s ease-in-out;
}

.logout {
    background-color: none;
    cursor: pointer;
    border: none;
    color: var(--secondary-color);
    font-weight: 200;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    font-family: var(--text-font);
}

.item-title a:hover {
    filter: opacity(0.75);
}

.item-title .logout:hover {
    color: #bb1a1a;
}

.item-title a h3 {
    font-size: 14px;
    font-weight: 600;
}

.item-title a p {
    font-size: 12px;
}

.navigation>li:hover .dropdown {
    display: flex;
    opacity: 1;
}

.userBtn a {
    display: flex;
    align-items: center;
}