.card {
    width: 50vw;
    min-height: 140px;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
}

.card:hover {
    cursor: pointer;
    scale: 1.02;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.miniCard {
    width: 350px;
    height: 370px;
    border-radius: 20px;
    background-color: var(--tertiary-color);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
}

.miniCard:hover {
    cursor: pointer;
    scale: 1.02;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.block {
    cursor: not-allowed;
    width: 50vw;
    min-height: 140px;
    border-radius: 15px;
    background-color: var(--tertiary-color);
    transition: all 0.5s;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.cardCont {
    width: 100%;
}

.list {
    margin: 50px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.blogTitle {
    margin-bottom: 10px;
    padding: 0 5px;
}

.blogBody {
    padding: 20px;
}

.description {
    padding: 0px 5px;
}

.category {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    font-size: 12px;
    background: linear-gradient(to top left, #416056, #53796c);
    border-radius: 50px;
    color: var(--tertiary-color);
    box-shadow: 0px 0px 3px 0.5px #4160566d;
}

.imgBlog {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: var(--tertiary-color);
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom: 4px solid var(--secondary-color);
    transition: all 0.5s;
}

.headerCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btnCard {
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 3px; 
    border: none;
}

.del svg {
    color: rgb(206, 77, 77);
    font-size: 1.7rem;
}

.btnCont {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 800px) {
    .card {
        width: 90vw;
    }
    .block {
        width: 90vw;
    }
}