.containerUser {
    width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    background-color: var(--white);
    box-shadow: 0px 0px 20px 50px var(--white);
}

.boxUser {
    padding: 20px 50px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px, rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    
}

.userImg {
    height: 100px;
    width: 100px;
    border-radius: 300px;
    border: none;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.02);
}

.userDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fontUser {
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 500;
}
