.footer {
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
    margin-top: 40px;
}

.containerFooter {
    display: block;
    margin: 0 auto;
    width: 70vw;
    height: 100%;
    padding: 50px;
}

.titleFooter {
    color: var(--title-nav-color);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: var(--title-font);
}

.divFoot {
    margin: 50px 0px;
    background-color: var(--title-nav-color);
}

.containerFooter p {
    text-align: center;
    color: var(--title-nav-color);
}

.linksFooter {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0px 0px 50px 0px;
}

.linkFooter {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
