.modal {
    background-color: #00000090;
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modalContent {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 80%;
    max-width: 90%;
    position: relative;
    height: 70dvh;
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.modalHeader h2 {
    margin: 0 auto;
}

.modalBody {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    flex: 1;
    padding-right: 0.5rem;
    padding-top: 20px;
}

.modalBody::-webkit-scrollbar {
    width: 8px;
}

.modalBody::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.modalBody::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.modalBody::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btnCloseModal{
    font-size: 1rem;
    color: #666;
    cursor: pointer;
    border: none;
    background-color: transparent;
}