.bloglist {
    width: 65vw;
    background-color: var(--white);
    border-radius: 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 20px 50px var(--white);
}

@media screen and (max-width: 800px) {
    .bloglist {
        width: 90%;
        margin: 20px 0;
    }
}