.comentario {
    width: 100%;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.miniIcon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
}

.infoUserComentario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.noComments {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.noComments h2 {
    font-weight: 300;
}

.viewComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}