.sideBar {
    margin-top: 30px;
    padding-top: 20px;
    height: 600px;
    width: 10vw;
    background-color: var(--tertiary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: sticky;
    top: 40px;
}

.notifications h2 {
    padding-left: 40px;
}