@import "toastify-js/src/toastify.css";
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #53796c;
    --secondary-color: #4D4D4D;
    --tertiary-color: #F0F1F2;
    --title-nav-color: #dee9e5;
    --white: #FCFCFC;
    --title-font: "Inika", serif;
    --text-font: "Inter", serif;
}

body {
    position: absolute;
    inset: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-color: white;
    background-image:
        linear-gradient(to right, #f0f0f0 1px, transparent 1px),
        linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
    background-size: 6rem 4rem;
    font-family: var(--text-font);
    width: 98.9vw;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(to top left, #416056, #53796c);
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    transition: all 0.3s ease;
}

.header.shrink {
    padding: 10px 100px;
    background: linear-gradient(to top left, #416056, #53796c);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: var(--title-nav-color);
    font-family: var(--title-font);
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-family: var(--text-font);
    font-weight: 300;
    color: var(--secondary-color);
    font-size: 33px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.4px;
    text-underline-offset: 8px;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
}

input {
    height: 10px;
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    border: 1px solid var(--title-nav-color);
    font-family: var(--title-font);
}

button {
    width: 10vw;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    font-family: var(--title-font);
    font-size: 22px;
    transition: all 0.3s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.btnLink {
    width: 10vw;
    height: 35px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--secondary-color);
    font-family: var(--title-font);
    font-size: 22px;
    transition: all 0.3s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: var(--secondary-color);
    text-align: center;
}

.btnLink:hover {
    color: var(--white);
    background-color: var(--secondary-color);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--secondary-color);
}

.underlineTitle {
    width: 280px;
    height: 2px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: var(--secondary-color);
}